{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container medication-schedule">
    <h1 class="med-schedule-title">Medication Schedule</h1>
    <span>Schedule order:</span>
    <button class="btn-toggle-order" id="toggle-order"></button>

    <div class="accordion schedule-container" id="accordionPanelsStayOpenExample">
        {% for day, items in schedule.items %}
        <div class="accordion-item day-schedule">
            <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true"
                    aria-controls="collapse-{{ forloop.counter }}">
                    {{ day }}
                </button>
            </h2>
            <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse show"
                aria-labelledby="heading-{{ forloop.counter }}">
                <div class="accordion-body">
                    <div class="row header-row">
                        <div class="col">
                            <p class="header-col">Medication Name</p>
                        </div>
                        <div class="col">
                            <p class="header-col">Medication Time</p>
                        </div>
                        <div class="col">
                            <p class="header-col">Doses</p>
                        </div>
                        <div class="col">
                            <p class="header-col">Interval</strong></p>
                        </div>
                        <div class="col">
                            <p class="header-col">Actions</p>
                        </div>
                    </div>
                    {% for item in items %}
                    <div class="medication row">
                        <div class="col">
                            <p class="med-name">{{ item.medication.name }}</p>
                        </div>
                        <div class="col">
                            <p class="med-time">{{ item.time }}</p>
                        </div>
                        <div class="col">
                            <p>{{ item.medication.doses_per_day }}</p>
                        </div>
                        <div class="col">
                            <p>{{ item.medication.interval_between_doses }}</p>
                        </div>
                        <div class="col">
                            {% if item.status %}
                            <p><a href="{% url 'medication_take' schedule_id=item.id %}" class="btn-action btn-untake">Untake</a></p>
                            {% else %}
                            <p><a href="{% url 'medication_take' schedule_id=item.id %}" class="btn-action btn-take">Take</a></p>
                            {% endif %}
                            <p><a href="{% url 'medication_edit' medication_id=item.medication.id %}" class="btn-action btn-edit">Edit</a></p>
                            <p><a href="{% url 'medication_delete' medication_id=item.medication.id %}"
                                    onclick="return confirm('Are you sure?')" class="btn-action btn-delete">Delete</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
