{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Medication Schedule</h1>
<button id="toggle-order"></button>

<div class="schedule-container">
    {% for day, items in schedule.items %}
    <div class="day-schedule">
        <table>
            <tr>
                <th>{{ day }}</th>
            </tr>
            <tr>
                <th>Medication Name</th>
                <th>Medication Time</th>
            </tr>

            {% for item in items %}
            <tr>
                <td>{{ item.medication.name }}</td>
                <td>{{ item.time }}</td>
                {% if item.status %}
                <td><a href="{% url 'medication_take' schedule_id=item.id %}">Take</a></td>
                {% else %}
                <td><a href="{% url 'medication_take' schedule_id=item.id %}">Untake</a></td>
                {% endif %}
                <td><a href="{% url 'medication_edit' medication_id=item.medication.id %}">Edit</a></td>
                <td><a href="{% url 'medication_delete' medication_id=item.medication.id %}" onclick="return confirm('Are you sure?')">Delete</a></td>
            <tr>

                {% endfor %}


        </table>
        
    </div>
    {% endfor %}
</div>

{% endblock %}

