{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container medication-schedule">
    <h1 class="med-schedule-title">Medication Schedule</h1>
    <span>Schedule order:</span>
    <button class="btn-toggle-order" id="toggle-order"></button>

    <div class="accordion schedule-container" id="accordionPanelsStayOpenExample">
        {% for day, items in schedule.items %}
        <div class="accordion-item day-schedule">
            <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true"
                    aria-controls="collapse-{{ forloop.counter }}">
                    {{ day }}
                </button>
            </h2>
            <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse show"
                aria-labelledby="heading-{{ forloop.counter }}">
                <div class="accordion-body">
                    {% if items %}
                    <div class="row header-row d-none d-md-flex">
                        <div class="col-md-2">
                            <p class="header-col">Name</p>
                        </div>
                        <div class="col-md-2">
                            <p class="header-col">Time</p>
                        </div>
                        <div class="col-md-2">
                            <p class="header-col">Doses</p>
                        </div>
                        <div class="col-md-2">
                            <p class="header-col">Interval</p>
                        </div>
                        <div class="col-md-2">
                            <p class="header-col">Actions</p>
                        </div>
                    </div>
                    {% for item in items %}

                    <div class="medication row d-none d-md-flex">
                        <div class="col-md-2">
                            <p class="med-name">{{ item.medication.name }}</p>
                        </div>
                        <div class="col-md-2">
                            <p class="med-time">{{ item.time }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ item.medication.doses_per_day }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ item.medication.interval_between_doses|default:"Not specified" }}</p>
                        </div>
                        <div class="col">
                            <div class="row">
                                {% if item.status %}
                                <div class="col-md-4">
                                    <p class="d-xl-block d-none"><a
                                            href="{% url 'medication_take' schedule_id=item.id %}"
                                            class="btn-action btn-untake"><i class="fas fa-times"></i>Untake</a></p>
                                    <p class="d-xl-none"><a href="{% url 'medication_take' schedule_id=item.id %}"
                                            class="btn-action btn-untake">
                                            <i class="fas fa-times"></i> <!-- Cross icon for "Untake" -->
                                        </a></p>
                                </div>
                                {% else %}
                                <div class="col-md-4">
                                    <p class="d-xl-block d-none"><a
                                            href="{% url 'medication_take' schedule_id=item.id %}"
                                            class="btn-action btn-take">Take</a></p>
                                    <p class="d-xl-none"><a href="{% url 'medication_take' schedule_id=item.id %}"
                                            class="btn-action btn-take">
                                            <i class="fas fa-check"></i>
                                        </a></p>
                                </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <p class="d-xl-block d-none"><a
                                            href="{% url 'medication_edit' medication_id=item.medication.id %}"
                                            class="btn-action btn-edit">Edit</a></p>
                                    <p class="d-xl-none"><a
                                            href="{% url 'medication_edit' medication_id=item.medication.id %}"
                                            class="btn-action btn-edit">
                                            <i class="fas fa-edit"></i> <!-- Edit icon -->
                                        </a></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="d-xl-block d-none"><a href="#"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-delete-url="{% url 'medication_delete' medication_id=item.medication.id %}"
                                        class="btn-action btn-delete">Delete</a></p>
                                    <p class="d-xl-none"><a href="#"
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-delete-url="{% url 'medication_delete' medication_id=item.medication.id %}"
                                        class="btn-action btn-delete">
                                            <i class="fas fa-trash"></i> <!-- Trash icon for "Delete" -->
                                        </a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card view for small screens -->
                    <div class="medication-card card d-block d-md-none mb-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: {{ item.medication.name }}</li>
                            <li class="list-group-item">Time: {{ item.time }}</li>
                            <li class="list-group-item">Doses: {{ item.medication.doses_per_day }}</li>
                            <li class="list-group-item">Interval: {{ item.medication.interval_between_doses|default:"Not specified" }}</li>
                            <li class="list-group-item">
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        {% if item.status %}
                                        <div class="col-md-4">
                                            <a
                                                    href="{% url 'medication_take' schedule_id=item.id %}"
                                                    class="btn-action btn-untake">
                                                    <i class="fas fa-times"></i> <!-- Cross icon for "Untake" -->
                                                </a>
                                        </div>
                                        {% else %}
                                        <div class="col-md-4">

                                            <a
                                                    href="{% url 'medication_take' schedule_id=item.id %}"
                                                    class="btn-action btn-take">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                        </div>
                                        {% endif %}
                                        <div>

                                            <a
                                                    href="{% url 'medication_edit' medication_id=item.medication.id %}"
                                                    class="btn-action btn-edit">
                                                    <i class="fas fa-edit"></i> <!-- Edit icon -->
                                                </a>
                                        </div>
                                        <div class="col-md-4">

                                            <a href="#"
                                            data-bs-toggle="modal"
                                            data-bs-target="#deleteModal"
                                            data-delete-url="{% url 'medication_delete' medication_id=item.medication.id %}"
                                            class="btn-action btn-delete">
                                                    <i class="fas fa-trash"></i> <!-- Trash icon for "Delete" -->
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No medications scheduled for {{ day }}.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this medication?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="#" id="confirmDeleteButton" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget; // Кнопка, которая вызвала модальное окно
        const deleteUrl = button.getAttribute('data-delete-url'); // Ссылка на удаление
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');
        confirmDeleteButton.setAttribute('href', deleteUrl); // Устанавливаем ссылку на кнопку подтверждения
    });
</script>

{% endblock %}