{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <p>User is authenticated: {{ user.is_authenticated }}</p>
        <p>Current user: {{ user.username }}</p>
        <li class="nav-item">
            <a class="nav-link {% if request.path == medication_url %}active{% endif %}"
                href="{% url 'medication' %}">Medication List</a>
        </li>
        <li>
            <a href="{% url 'medication_add' %}">Add Medication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_login' %}">Login</a>
        </li>
        {% endif %}
    </nav>
    <div>
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          fade show" id="msg" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </div>
        {% endfor %}
    </div>
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    {% block extras %}
    <script src="{% static 'js/days_order.js' %}"></script>
    {% endblock %}

    {% block copyright %}
    Made by me
    {% endblock %}

</body>

</html>